	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		margin: 0;
		padding: 0;
		background-color: #fff;
		font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "HiraKakuProN-W6", "メイリオ", Meiryo, sans-serif;
		color: #808080;
		font-size: 14px;
		line-height: 15px;
	}

	h1 {
		color :#FFF;
		margin: 0;
		padding: 18px 15px;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ff7400), color-stop(0.00, #ffa443));
		background: -webkit-linear-gradient(top, #ffa443 0%, #ff7400 100%);
		background: -moz-linear-gradient(top, #ffa443 0%, #ff7400 100%);
		background: -o-linear-gradient(top, #ffa443 0%, #ff7400 100%);
		background: -ms-linear-gradient(top, #ffa443 0%, #ff7400 100%);
		background: linear-gradient(top, #ffa443 0%, #ff7400 100%);
		text-shadow:1px 1px 2px rgba(0,0,0,.3);
		font-size: 20px;
	}

	h2 {
		color :#FFF;
		text-align: center;
		margin: 0;
		background-color: #333;
		font-size: 12px;
		padding: 3px;
	}
	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}


	a.button {
		color:#111;
		text-decoration: none;
		padding: 3px 6px;
		border: 1px solid #DDD;
		border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px
		background: -moz-linear-gradient(top,#FFF 0%,#EEE);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	}
	.div_center {
		text-align: center;
	}

	.label_gray {
		background-color: #333;
		padding: 10px 10px 10px 10px;
		font-size: 16px;
		color: #FFF;
	}
	p.explain {
		padding: 2px 5px;

	}
	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 0px 0 0px;
		margin: 0px 0 0 0;
	}

	#container {
		margin: 0px;
		border: none;
			  	
	}

	.list3 ul{
	 	border-bottom: 1px solid #ccc;
	 	margin: 0px;
	 	list-style: none;
	  	padding-left: 0px;

	  	display: table;
	  	width: 100%;
	}

	.list3 ul li{
		 /*background: linear-gradient(#fff, #f0f0f0);*/
		 border-top: 1px solid #ccc;
		 height: 70px;
		 margin: 0px;
		 position: relative;
	}

	.list3 ul li a{
		 color: #666;
		 display: block;
		 height: 70px;
		 margin: 0;
		 padding: 0 20px 0 0;
		 overflow: hidden;
		 white-space: nowrap;
		 text-overflow: ellipsis;
		 text-decoration: none;
	}
	.list3 ul li img{

	}
	.list3 ul li img{
		 float: left;
		 height: 68px;
		 width: 68px;
		 margin: 1px;
		 margin-right: 10px;
	}

	.list3 ul li a strong{
		color: #136FFF;
		display: block;
		font-weight: bold;
		padding-top: 1px;
		font-size: 15px;
	}
	.list3 ul li a:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #093;
		border-right: solid 2px #093;
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
	}

	.imageBox {
		width: 66px;
		height: 66px;
		border: 1px solid #DDD; 
		float: left;
		margin: 1px 10px 1px 1px;
 		border-radius: 4px 4px 4px 4px;
 		background-size:cover;
	}

	.header {
		height: 52px;
		width: 100%;
		background-color: #333;
		/*background-image: url('images/header.png');*/
		font-size: 16px;
		color: #FFF;
	}


	.footer {
		height: 30px;
		width: 100%;
		background-color: #333;
	    bottom: 0;
		font-size: 16px;
		color: #FFF;
	}

	#ham-menu {
		height: 32px;
		width: 32px;
		border-radius: 4px;
		border-style: solid;
		border-color: #FFFFFF;
    	border-width: 1px;
		text-align: center;
		position: absolute;
		right: 7px;
		top: 7px;
	}

	#ham-menu::before {
		color :#FFFFFF;
 		content:"≡";
 		font-size : 32px;
 		line-height: 32px;

	}



