html {
	background-color: #000;
  -webkit-text-size-adjust: 100%;
}

/*以下スマホゲッターから*/
html,
body,
div,
tt,
dl,
dt,
dd,
canvas,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:  "HiraginoSans-W6","HiraKakuProN-W6";
}

.header {
  color: #fff;
  display: table;
  background: #cb0133;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-left,
.header-right {
  display: table-cell;
  vertical-align: middle;
}
.header-right {
  width: 37%;
}
.header-logo {
  padding-right: 3%;
}
.header-logo img {
  max-width: 170px;
  width: 100%;
}
.header-user {
  display: table;
  height: 30px;
  float: right;
}
.header-user-medal {
  color: #cb0133;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  background: #fff;
  min-width: 173px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header-user-medal .-inner {
  height: 30px;
  padding: 0 30px 0 28px;
  position: relative;
}
.header-user-medal .-inner:before {
  content: '';
  display: block;
  background: url("images/ic_medal.png") no-repeat 50% 50%;
  -webkit-background-size: auto 20px;
          background-size: auto 20px;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 7px;
  margin-top: -10px;
}
.header-user-medal .-inner >dl {
  display: table;
  line-height: 30px;
  width: 100%;
  height: 30px;
}
.header-user-medal .-inner .-tit {
  font-size: 13px;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  padding-right: 0.25em;
}
.header-user-medal .-inner .-pt {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: bold;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.header-user-medal .-inner .-pt >span {
  font-size: 8px;
}
.header-user-medal .-inner .-link {
  display: block;
  background: url("images/ic_plus.png") no-repeat 50% 50%;
  -webkit-background-size: auto 18px;
          background-size: auto 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -9px;
}
.header-user-medal .-inner .-link >span {
  display: none;
}

@media screen and (max-width: 720px){
  .header{
    padding: 10px 7px;
  }
  .header-right{
    width: 47%;
  }
  .header-logo img{
    max-width: 154px;
  }
  .header-user-medal{
    min-width: 169px;
  }
  .header-user-medal .-inner .-tit{
    font-size: 11px;
  }
}



#title {
  font-size: 22px;
}
#background{
  width:100%;
  position: absolute;
  top:52px;
}

#menu_on {
  display: block;
  background: url("images/ic_plus.png") no-repeat 50% 50%;
  -webkit-background-size: auto 18px;
          background-size: auto 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -9px;
}

#menu_off {
  display: block;
  background: url("images/ic_plus.png") no-repeat 50% 50%;
  -webkit-background-size: auto 18px;
          background-size: auto 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -9px;
}

#contents{
	width: 100%;
	height: 100%;
  color: #FFF;
}

#canvas {
	position:absolute;
	margin:auto;
	left:0;right:0;
	/*top:52px;*/
}

#_preload_div_ {
  margin-top: 52px;
  height: 453px;
	text-align: center;
	background-color: #000;
}

/*==================================================*/
.progress_a {
  display: inline-block;
  background: url("images/progress_a.png");
  background-size: 517px 103px;
  background-repeat: no-repeat;
  width: 103px;
  height: 103px;
  position:relative;
  top:160px;
}

.progress_a.p0{
  background-position: 0 0;
}
.progress_a.p1{
  background-position: -103px 0;
}
.progress_a.p2{
  background-position: -207px 0;
}
.progress_a.p3{
  background-position: -310px 0;
}
.progress_a.p4{
  background-position: -414px 0;
}

#loading {
  display: inline-block;
  width: 143px;
  height: 32px; 
  position:relative;
  top:170px;

}
/*==================================================*/


.progress_b {
  display: inline-block;
  background: url("images/progress_b.png");
  background-size: 930px 145px;
  background-repeat: no-repeat;
  width: 186px;
  height: 145px;
  position:relative;
  top:110px;
}

.progress_b.p0{
  background-position: 0 0;
}
.progress_b.p1{
  background-position: -186px 0;
}
.progress_b.p2{
  background-position: -372px 0;
}
.progress_b.p3{
  background-position: -558px 0;
}
.progress_b.p4{
  background-position: -744px 0;
}

#loading_b {
  display: inline-block;
  width: 143px;
  height: 32px; 
  position:relative;
  top:100px;
}

#progress_txt{
    display: inline-block;
    position:relative;
    top:120px;
    font-family:  "Arial";
    font-size: 24pt;
}



/*==================================================*/
#alert_mask {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  text-align: center;
}

#alert_text {
  color:#FFF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#dialog_mask {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

#dialog_bg {
  margin:auto;
  position: absolute;
  left:0;right:0;
  top:0;bottom:0;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  border: 1px white solid;  /* 枠線を引く */
  border-radius: 10px;      /* 角丸の指定 */
}

#dialog_title {
  margin: auto;
  position: absolute;
  left:0;right:0;
  top:15px;bottom:0;
}

#dialog_text {
  margin: auto;
  position: absolute;
  left:0;right:0;
  top:50px;bottom:0;
}

.dialog_button {
  position: absolute;
  margin: auto;
  bottom:15px;
  width: 88px;
  height: 35px;
  border: 1px white solid;  /* 枠線を引く */
  border-radius: 3px;      /* 角丸の指定 */
}

#dialog_button_c {
  left:0;right:0;
}

#dialog_button_l {
  left:20px;
}

#dialog_button_r {
  right:20px;
}

