﻿body {
	margin: 0px;
}
img {
	border-style: none;
}
a:link {
	color: #6a8125;
	text-decoration: none;
}
a:hover {
	color: #f3a42c;
}
#header {
	padding: 0px;
	background-image: url(img/bg_header.png);
	background-position: left top;
}
#header h1 {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu li {
	height: 50px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #360;
	list-style-type: none;
	line-height: 50px;
	text-align: center;
	/*
	ここから下のグラデーション関連のスタイルは
	Ultimate CSS Gradient Generator
	http://www.colorzilla.com/gradient-editor/
	で作成しました
	*/
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(50%, #8eb92a), color-stop(51%, #72aa00), color-stop(100%, #9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d', GradientType=0 ); /* IE6-9 */
	font-family: 'UD Shin Go Regular';	/*Webフォント*/
}
#menu a {
	display: block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#content h2 {
	text-align: center;
}
#content h2 img {
	width: 100%;
	height: auto;
	min-width: 320px;
	max-width: 480px;
}
#content h3 {
	margin-right: 5px;
	margin-left: 10px;
	padding-left: 16px;
	background-image: url(img/icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-family: 'UD Shin Go Regular';	/*Webフォント*/
	color: #6a8125;
}

#content h4 {
	text-align: center;
}

#content h5 {
	text-align: center;
}
#content h5 img {
	width: 100%;
	height: auto;
	min-width: 54px;
	max-width: 280px;
}
#content p {
	padding-left: 10px;
}
#content p.pict {
	padding-left: 0px;
	text-align: center;
}
#footer {
	padding-bottom: 10px;
	text-align: center;
}
#footer p {
	padding-left: 0px;
}

#footer2 {
	background:#000000;
	color:#ffffff;
	padding-bottom: 10px;
	text-align: center;
}

/* アイコン */
.icn_img {
	background:#FFFFFF;
	color:#000000;
	text-align:center;
	margin:10px auto 10px auto ;
}

.icn_img2 {
	background:#228B22;
	width:324px;
	color:#000000;
	text-align:center;
	margin:1px auto 1px auto ;
}

.icn_img3 {
	background:#d3a613;
	width:324px;
	color:#000000;
	text-align:center;
	margin:1px auto 1px auto ;
}

#content {
	background:#228B22;
	width:100%;
}

#content2 {
	background:#d3a613;
	width:100%;
}

#footer1 {
	background:#000000;
	color:#ffffff;
	padding-bottom: 0px;
	text-align: left;
}


.position_14_txt {
	color:#FFFFFF;	
	text-align: left;
}





