html {
	background-color: #000;
  -webkit-text-size-adjust: 100%;
}

/*以下スマホゲッターから*/
html,
body,
div,
tt,
dl,
dt,
dd,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:  "HiraginoSans-W6","HiraKakuProN-W6";
}

#background{
  width:100%;
  position: absolute;
  top:52px;
}

#contents{
	width: 100%;
	height: 100%;
  color: #FFF;
}

#canvas {
	position:absolute;
	margin:auto;
	left:0;right:0;
	/*top:52px;*/
}

#_preload_div_ {
  height: 453px;
	text-align: center;
	background-color: #000;
  position: relative;
}

#loading {
  display: inline-block;
  width: 206px;
  height: 20px; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  margin: auto;
}
/*==================================================*/
#progress_txt{
    display: inline-block;
    position:relative;
    top:120px;
    font-family:  "Arial";
    font-size: 24pt;
}
/*==================================================*/
#alert_mask {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  text-align: center;
}

#alert_text {
  color:#FFF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

